<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN_94kCcLSZRCoeKgSqO9zNUJ7RaeLifk</string>
	<key>GCM_SENDER_ID</key>
	<string>223371884258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keeps.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>keeps-ae624</string>
	<key>STORAGE_BUCKET</key>
	<string>keeps-ae624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223371884258:ios:1a579eeae837a4ba7550bb</string>
</dict>
</plist>